# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
*.log
*.iml

# Node.js
node_modules/
build/
dist/

# OS / Editor files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Git
.git
.gitignore

# Other
.env
